.layout-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // .layout-inner{
  //   padding-bottom: 2rem;
  // }
}
.body-lock {
  overflow-y: hidden;
}
